[Desktop Entry]
Name=Drauger Welcome
Version=4.9.8
Exec=/usr/bin/drauger-welcome
Comment=Welcome Screen for Drauger OS
Icon=/usr/share/icons/Drauger/scalable/menus/drauger_os-logo.svg
Type=Application
Terminal=false
StartupNotify=true
Encoding=UTF-8
Categories=Application;
