[Desktop Entry]
Name=Drauger Welcome
Version=1.0
Exec=/opt/drauger-welcome/welcome.py
Comment=Welcome Screen for Drauger OS
Icon=/usr/share/icons/Drauger/720x720/Menus/drauger_os-logo.png
Type=Application
Terminal=false
StartupNotify=true
Encoding=UTF-8
Categories=Application;