Package: drauger-welcome
Version: 3.1
Maintainer: Thomas Castleman <contact@draugeros.org>
Section: misc
Homepage: https://github.com/drauger-os-development/drauger-welcome
Architecture: all
Priority: optional
Depends: python3 (>=3.5.1-3), python-gtk2 (>=2.24.0-4ubuntu1), drauger-info (>=7.4.1-2), drauger-icons (>=0.0.2), bash
Replaces: drauger-tutorial (>=1.0)
Breaks: drauger-tutorial (>=1.0)
Description: Welcome screen and tutorial All-in-One for Drauger OS
 Welcome screen and tutorial All-in-One for Drauger OS. Combines a Linux Mint inspired welcome screen with an improved version of drauger-os-tutorial
