[Desktop Entry]
Name=Drauger Welcome
Version=4.1
Exec=/usr/share/drauger-welcome/tut.sh
Comment=Welcome Screen for Drauger OS
Type=Application
Terminal=false
StartupNotify=true
Encoding=UTF-8
Categories=Accessibility;Application;GTK;System;Utility;
